<%
# TailwindCSSスタイルのページネーション - SCSSスタイルを元にしたデザイン
%>

<div class="pagy flex space-x-1 font-semibold text-sm text-gray-500 mt-6">
  <% if pagy.prev %>
    <%= link_to '&laquo;'.html_safe, pagy_url_for(pagy, pagy.prev, **vars), class: "block rounded-lg px-3 py-1 bg-gray-200 hover:bg-gray-300" %>
  <% else %>
    <span class="block rounded-lg px-3 py-1 text-gray-300 bg-gray-100 cursor-default">&laquo;</span>
  <% end %>

  <% pagy.series.each do |item| %>
    <% case item %>
    <% when Integer %>
      <%= link_to item, pagy_url_for(pagy, item, **vars), class: "block rounded-lg px-3 py-1 bg-gray-200 hover:bg-gray-300" %>
    <% when String %>
      <span class="current block rounded-lg px-3 py-1 text-white bg-gray-400"><%= item %></span>
    <% when :gap %>
      <span class="gap block px-3 py-1">...</span>
    <% end %>
  <% end %>

  <% if pagy.next %>
    <%= link_to '&raquo;'.html_safe, pagy_url_for(pagy, pagy.next, **vars), class: "block rounded-lg px-3 py-1 bg-gray-200 hover:bg-gray-300" %>
  <% else %>
    <span class="block rounded-lg px-3 py-1 text-gray-300 bg-gray-100 cursor-default">&raquo;</span>
  <% end %>
</div>
